body, html {
    margin: 0;
    padding: 0;
    text-align: center;
}

.content {
    padding-top: 50px;
    margin: auto;
}

.content img {
    max-width: 100%;
    height: auto;
}

iframe {
    margin-top: 20px;
}
