body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.content img {
    max-width: 100%;
    height: auto;
}

iframe {
    margin-top: 20px;
}
